# Node.js / NPM
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs and Data
logs/
data/
debug/

# Environment Variables and Runtime Overrides
.env
.env.local
.env.*.local
config/runtime*.json

# IDE / Editor
.idea/
.vscode/
*.swp
.DS_Store
